body {
    background-color: #163573;
    background-image: linear-gradient(to bottom right, #163573, #BC3486);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #F2A7E6;
}

.welcomeDiv {
    margin: 10px;
    background-color: #163573;
    border-style: solid;
    border-color: #450013;
    color: #F2A7E6;
    border-radius: 10px;
    padding: 1%;
}

.pageTitle {
    text-align: center;
    background-color: #163573;
    border-style: solid;
    border-color: #450013;
    color: #F2A7E6;
}


a {
    color: #6BBEF2;
}

.tb {
    border-radius: 5px;
}

.button {
    border-radius: 5px;
    border-style: ridge;
    color: #F2A7E6;
    border-color: #450013;
    background-color: #180066;
}

.subTitle {
    text-align: center;
    text-decoration: underline;
}

.welcomeText {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.provence {
    justify-content: center;
    text-align: center;
    margin: 10px;
    background-color: #163573;
    border-style: solid;
    border-color: #450013;
    color: #F2A7E6;
    border-radius: 10px;
    padding: 1%;
}


.VoteInfo {
    justify-content: center;
    text-align: center;
    margin: 10px;
    background-color: #163573;
    border-style: solid;
    border-color: #450013;
    color: #F2A7E6;
    border-radius: 10px;
    padding: 1%;
}