<!doctype html>

<head>
    <title>Vote Log</title>
    <link rel="stylesheet" href="static/styles.css">

</head>

<body>
    <div class="pageTitle">
        <h1>Total Vote Log</h1>
    </div>
    <div class="container">
        <div id="taco" class="log">
            <h3 class="subTitle">Taco Vote Log</h3>
            {% set ns = namespace() %}
            Inital Value = {{firstTaco}}<br>
            {% set ns.ct = firstTaco %}
            {% for i in tacoVote %}
            New Value = {{ns.ct}} * {{i}} mod {{nsq}}<br>
            {% set ns.ct = ns.ct * i %}
            {% set ns.ct = ns.ct % nsq %}
            {% endfor %}
            Final Cipher Text = {{ns.ct}} <br>
            Resulting Plain Text = {{tacoPT}}
        </div>

        <div id="pizza" class="log">
            <h3 class="subTitle">Pizza Vote Log</h3>
            {% set ns = namespace() %}
            Inital Value = {{firstPizza}}<br>
            {% set ns.ct = firstTaco %}
            {% for i in tacoVote %}
            New Value = {{ns.ct}} * {{i}} mod {{nsq}}<br>
            {% set ns.ct = ns.ct * i %}
            {% set ns.ct = ns.ct % nsq %}
            {% endfor %}
            Final Cipher Text = {{ns.ct}} <br>
            Resulting Plain Text = {{pizzaPT}}
        </div>
    </div>

    <div class="welcomeDiv">
        <a href="\voting">View total vote breakdown.</a><br>
        <a href="\">Start a new simulation</a>
    </div>


</body>