<!doctype html>

<head>
    <title>The race progress</title>
    <style>
    </style>
    <script>
        // We might not need this here
    </script>
</head>

<body>
    <h2>The Great Soccoro Taco Vs Pizza Vote.</h2>

    <div class="Vote Info">
        Total Votes: {{sum[0] + sum[1]}}<br>
        Taco: {{sum[0]}} vs Pizza: {{sum[1]}}<br>
        <progress value={{winP}} max="100"></progress><br>
        Election Winner: {{win}}!
    </div>

    <div class="container">
        {% for i in vote%}
        <div class="provence">
            <h4>{{i[0]}}</h4><br>
            Taco Votes: {{i[1]}} <br>
            Pizza Votes: {{i[2]}} <br>
            <progress value={{i[3]}} max="100"></progress><br>
            {{i[4]}} is currently winning!
        </div>
        <br>
        <br>
        {% endfor %}
    </div>
    <a href="voteLog">View vote log</a>
    <a href="\">Start another simulation</a>


</body>